:root {
    --Beige: #e6ddbc;
    --Black: #262525;
    --CrimsonRed: #822626;
    --TaurusRed: #690202;
}

body {
    padding: 0;
    margin: auto;
    font-family: 'Montserrat', monospace;
    color: var(--Black);
    background-color: var(--Beige);
}

header { 
    height: 10vh;
    width: 100%;
    display: flex;
    z-index: 1;
    position: fixed;
    top: 0; 
    justify-content: space-between;
    align-items: center;
    border: none;
    border-bottom: 2px solid var(--CrimsonRed);
    background-color: var(--Beige);
}

a {
    margin: 50px;
    color: var(--Black);
    text-decoration: none;
    font-size: 20px;
}

header nav a:hover {
    border: none;
    border-bottom: 2px solid var(--CrimsonRed);
    color: var(--TaurusRed);
}

.container-admin a:hover {
    border: none;
    border-bottom: 2px solid var(--CrimsonRed);
    color: var(--TaurusRed);
}

#logo {
    height: 80%;
    margin: 6px;
    margin-left: 20px;
}

#logo img {
    height: 100%;
}

.container {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content {
    width: 50%;
}

.image {
    width: 500px;
    height: 500px;
    margin-top: 5%;
    background-color: var(--CrimsonRed);
}

.container-admin {
    width: 30%;
    margin: 3vw;
}